* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
section {
  height: 700px;
  background-color: azure;
  margin-bottom: 30px;
  scroll-margin-top: 80px;
}
nav {
  overflow-x: auto;
  padding: 0 20px;
  position: sticky;
  top: 0;
  background-color: #fff;
}
nav ul {
  display: flex;
  height: 60px;
  align-items: center;
}
nav ul li {
  padding-right: 20px;
}
nav ul li a {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 30px;
  background: #eee;
  color: #333;
  white-space: nowrap;
}
nav ul li.active a {
  background: pink;
}
#to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
